h1 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  color: black;

}

h2{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
}
h3{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
}
a{
  text-decoration: none;
}
p{
  color: white;
  font-size: 20px;
}
label{
  font-size: 15px;
  color: white;
  margin-right: 10px;
}
*{
  margin: 0;
  padding: 0;
  
}
