.brand h4{
    border: 1px solid grey;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-top: 5px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    padding: 5px;
    
}



.names::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}
.names::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
}
.names::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43); /* Color of the draggable part of the scrollbar */
}

.names::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the draggable part */
}
.brands::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}
.brands::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
}
.brands::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43); /* Color of the draggable part of the scrollbar */
}

.nbrand::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the draggable part */
}
.NameList{
    border: 1px solid black;
    background-color: grey;
 
height: auto;
   
    margin-top: 10px;
    width: 250px;
    padding: 20px;
   
   display: none;
position: absolute;
z-index: 1; 

}
.names{
    width: 100%;
    
   min-height: 100px;
   max-height:250px ;
    overflow-y:auto;
    
    }
    .brandList{
        border: 1px solid black;
        background-color: grey;
        height: 300px;
        padding: 20px;
        margin-top: 10px;
            width: 250px;
       display: none;
    position: absolute;
    z-index: 1;
    
    }
    .brands{
        width: 100%;
        height: 60%;
        overflow-y: auto;
    }
 .show{
    display: block;
}

.inputcheck{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.labelcheck{
    color: white;
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;

}
.addproductbtn {
    
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid white;
    bottom: 0;

    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.addproductbtn.apply{
 background-color:    rgb(43, 43, 43);
    color: white;
    border: 1px solid gray;

}

.arrow.down{
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}
.pall{
    font-size: 12px;
    margin-top: 10px;
}

.searchinputbrand{
    border: 1px solid white;
    background-color: transparent;
   width: 90%;
   padding:0 10px ;
    outline: none;
    height: 40px;
    color: white;
   border-radius: 5px;
    margin-bottom:20px ;
    
}
.searchinputbrand::placeholder{
    color: #f1f1f1;
    
}
.noprod{
    font-size: 12px;
}
